html, body {
    background: var(--cor-background-body);
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%; /*IMPORTANTE*/
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul, li {
    padding: 0;
}